<#include "../layout.html"/> <@layout>
<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3>
					<i class="icon-ok"></i> 增加用户
				</h3>
			</div>
			<div class="box-content">
				<form action="#" method="POST" class='form-horizontal form-validate'
					id="bb">
					<div class="control-group">
						<label for="textfield" class="control-label">用户名称</label>
						<div class="controls">
							<input type="text" name="textfield" id="username"
								class="input-xlarge" data-rule-required="true"
								data-rule-minlength="2">
						</div>
					</div>
					<div class="control-group">
						<label for="pwd" class="control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
						<div class="controls">
							<input type="password" name="pwd" id="password"
								class="input-xlarge" data-rule-required="true">
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" id="add">提交</button>
						<button type="reset" class="btn">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		$('#add').click(function()
		{
			$.ajax({
    			url:'${path}/admin/user/addUser',
    			type:'post',
    			dataType:'json',
    			data:{
    				'user.username':$('#username').val(),
    				'user.password':$("#password").val()
    			},
    			success : function(data){
    				if(data.error){
    					
    				}else{
    					location.href =  "${path}/admin/user/list.html";
    				}
    			}
    		});
			return false;
		});
	</script>
</@layout>
